<div class="left-panel d-flex fd-column ai-center jc-space-between">
    <div class="top">
        <img src="../../../assets/images/logo.svg" alt="logo">
    </div>
    <div class="bottom">
        <ul class="d-flex fd-column ai-center">
            <li>    
                <mat-icon aria-hidden="false" aria-label="grid view">grid_view</mat-icon>
            </li>
            <li>
                <img src="../../../assets/images/bell.svg" alt="bell icon">
            </li>
            <li>
                <div class="user">
                    <img src="https://picsum.photos/200" alt="">
                    <span class="online-status"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="right-panel d-flex fd-column fg-1">
    <div class="top">
        <h2>Prospector</h2>
        <app-search></app-search>
    </div>
    <div class="bottom fg-1">
        <app-segments></app-segments>
    </div>
</div>